<h1>Editing Hoagy</h1>

<%= render 'form', hoagy: @hoagy %>



<%= link_to '<button type="button">Show</button>'.html_safe, @hoagy %> |
<%= link_to '<button type="button">Back</button>'.html_safe, hoagies_path %>
