
<h1>Welcome to the Hoagieshop!</h1>

<p class="homepage-text">It's the food you love, delivered. <br>
  It's all at your fingertips. Find the right hoagie to suit your mood, and make the first bite last.<br>
  <br>

  Go ahead, create your first hoagie or leave a review.</p>


<div class="homepage-buttons">
<%= link_to '<button type="button">Create your Hoagie</button>'.html_safe, new_hoagy_path %>
<%= link_to '<button type="button">Reviews</button>'.html_safe, controller: 'posts' %>

</div>
