
<h1>Welcome to the Hoagieshop!</h1>

<%= link_to 'See all Hoagies', controller: 'hoagies' %>
<%= link_to 'Create your Hoagie', new_hoagy_path %>
<%= link_to 'Reviews', controller: 'posts' %>
<%= link_to 'Create Review', new_post_path %>
